/*=============================================================*/
/*Button Start From Here  */
/*=============================================================*/
/* line 4, ../scss/components/_button.scss */
.btn-login {
  color: #fff;
  background: #ff6600;
  border-color: #cc5200;
}
/* line 8, ../scss/components/_button.scss */
.btn-login:hover {
  background: #ff781f;
  color: white;
}

/*=============================================================*/
/*Button Ends Here  */
/*=============================================================*/
/* line 2, ../scss/components/_base.scss */
.col-no-pad {
  padding-right: 0;
  padding-left: 0;
}

/* line 3, ../scss/components/_base.scss */
.carousel-inner > .item > img {
  width: 100%;
}

/*=============================================================*/
/*Header Section Start From Here  */
/*=============================================================*/
/* line 4, ../scss/components/_header.scss */
header {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
/* line 5, ../scss/components/_header.scss */
header .login-title {
  padding: 15px 0;
  display: block;
  font-size: 18px;
  color: #183b65;
  font-weight: 600;
}
/* line 11, ../scss/components/_header.scss */
header .login-title i {
  color: #ff6600;
  font-size: 36px;
}
/* line 17, ../scss/components/_header.scss */
header .company-logo img {
  width: 85%;
  margin-top: 5px;
}

/*=============================================================*/
/*Header Section Ends Here*/
/*=============================================================*/
/* line 1, ../scss/components/_nav.scss */
.navbar {
  border-radius: 0;
  min-height: 30px;
  margin-bottom: 0;
}

/* line 2, ../scss/components/_nav.scss */
.navbar-collapse {
  padding-left: 0;
}

/* line 3, ../scss/components/_nav.scss */
.navbar-inverse {
  border-color: #183B65;
  background-color: #183B65;
}
/* line 4, ../scss/components/_nav.scss */
.navbar-inverse .navbar-toggle {
  border-color: white;
  background-color: white;
}
/* line 5, ../scss/components/_nav.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #183B65;
}
/* line 6, ../scss/components/_nav.scss */
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #ff6600;
}
/* line 10, ../scss/components/_nav.scss */
.navbar-inverse li a {
  color: white !important;
}
/* line 13, ../scss/components/_nav.scss */
.navbar-inverse .navbar-nav > .active {
  color: white;
}
/* line 16, ../scss/components/_nav.scss */
.navbar-inverse .navbar-nav .open > a {
  background-color: #ff6600!important;
}
/* line 20, ../scss/components/_nav.scss */
.navbar-inverse li a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
}

/* line 23, ../scss/components/_nav.scss */
.mega-dropdown {
  position: static !important;
}
/* line 24, ../scss/components/_nav.scss */
.mega-dropdown .divider {
  margin: 2px 0px;
}
/* line 26, ../scss/components/_nav.scss */
.mega-dropdown li a {
  min-width: 200px;
}
/* line 27, ../scss/components/_nav.scss */
.mega-dropdown li a:hover {
  background-color: #ff6600;
  color: white !important;
}

/* line 32, ../scss/components/_nav.scss */
.mega-dropdown-menu {
  left: auto;
  width: auto;
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 34, ../scss/components/_nav.scss */
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
/* line 35, ../scss/components/_nav.scss */
.mega-dropdown-menu > li > ul > li {
  list-style: none;
  white-space: nowrap;
}
/* line 36, ../scss/components/_nav.scss */
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #1a1a1a !important;
  padding: 3px 5px;
}
/* line 40, ../scss/components/_nav.scss */
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
/* line 43, ../scss/components/_nav.scss */
.mega-dropdown-menu .dropdown-header {
  font-size: 14px;
  color: #183b65;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 60px 0 5px;
  line-height: 30px;
}

/* line 47, ../scss/components/_nav.scss */
.dropdown-menu li a {
  color: #1a1a1a !important;
}
/* line 48, ../scss/components/_nav.scss */
.dropdown-menu li a:hover {
  background-color: #ff6600;
  color: white !important;
}

/*=============================================================*/
/*Login page Section Start From Here  */
/*=============================================================*/
/* line 5, ../scss/components/_common.scss */
.login-area.row {
  background-image: url(../images/login-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin: 0;
  padding: 0;
  min-height: 400px;
}

/* line 16, ../scss/components/_common.scss */
.panel {
  background: none;
  border: none;
}
/* line 17, ../scss/components/_common.scss */
.panel.panel-info {
  background: none;
  border: none;
}
/* line 18, ../scss/components/_common.scss */
.panel.panel-info > .panel-heading {
  background: none;
  border: none;
  color: #183b65;
  font-weight: 600;
}

/* line 22, ../scss/components/_common.scss */
.content-holder {
  width: 85%;
  position: absolute;
  top: 0;
  left: 8%;
  color: #FFF;
}
/* line 23, ../scss/components/_common.scss */
.content-holder .search-widget {
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
}
/* line 24, ../scss/components/_common.scss */
.content-holder .search-widget > .page-header {
  margin: 20px 0 20px;
}
/* line 25, ../scss/components/_common.scss */
.content-holder .search-widget h1 {
  font-size: 24px;
  margin: 0;
}
/* line 27, ../scss/components/_common.scss */
.content-holder .report-widget {
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
}

/* Large desktop */
@media (min-width: 1200px) {
  /* line 33, ../scss/components/_common.scss */
  header .login-title {
    font-size: 18px;
    text-align: left;
  }
  /* line 34, ../scss/components/_common.scss */
  header .login-title i {
    color: #ff6600;
    font-size: 36px;
  }

  /* line 39, ../scss/components/_common.scss */
  .company-logo img {
    width: 90%;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 46, ../scss/components/_common.scss */
  header .login-title {
    font-size: 18px;
    text-align: left;
  }
  /* line 47, ../scss/components/_common.scss */
  header .login-title i {
    color: #ff6600;
    font-size: 36px;
  }

  /* line 52, ../scss/components/_common.scss */
  .company-logo img {
    width: 90%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 59, ../scss/components/_common.scss */
  header .login-title {
    font-size: 18px;
    text-align: left;
  }
  /* line 60, ../scss/components/_common.scss */
  header .login-title i {
    color: #ff6600;
    font-size: 36px;
  }

  /* line 65, ../scss/components/_common.scss */
  .company-logo img {
    width: 90%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 72, ../scss/components/_common.scss */
  header .login-title {
    font-size: 17px;
    text-align: center;
  }
  /* line 73, ../scss/components/_common.scss */
  header .login-title i {
    color: #ff6600;
    font-size: 24px;
  }

  /* line 78, ../scss/components/_common.scss */
  .company-logo img {
    width: 50%;
  }
}
/*=============================================================*/
/*Login page Section Ends Here  */
/*=============================================================*/
/*=============================================================*/
/*Footer Section Start From Here  */
/*=============================================================*/
/* line 4, ../scss/components/_footer.scss */
footer {
  background: #e6e6e6;
  font-size: 13px;
  color: #484848;
  padding: 10px 0;
}

/* line 10, ../scss/components/_footer.scss */
.footer-bottom-text {
  font-size: 13px;
  color: gray;
  padding: 10px 0;
}

/*=============================================================*/
/*Footer Section Ends Here  */
/*=============================================================*/
