/*=============================================================*/
/*Header Section Start From Here  */
/*=============================================================*/
/* line 4, components/_header.scss */
.login-title {
  padding: 15px 0;
  display: block;
  font-size: 22px;
  color: #183b65;
  font-weight: 600; }
  /* line 10, components/_header.scss */
  .login-title i {
    color: #ff6600;
    font-size: 36px; }

/*=============================================================*/
/*Header Section Ends Here*/
/*=============================================================*/
/* line 1, components/_nav.scss */
.navbar-inverse {
  background-color: #183B65; }
  /* line 4, components/_nav.scss */
  .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #FFFFFF; }
  /* line 8, components/_nav.scss */
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #FFFFFF; }
  /* line 12, components/_nav.scss */
  .navbar-inverse .navbar-nav > .active > a {
    background-color: #FF6600; }
  /* line 15, components/_nav.scss */
  .navbar-inverse .navbar-nav > .open > a {
    background-color: #FF6600; }
    /* line 17, components/_nav.scss */
    .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
      background-color: #FF6600; }

/* line 24, components/_nav.scss */
.dropdown-menu {
  background-color: #FFFFFF; }
  /* line 27, components/_nav.scss */
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #FF6600; }

/* line 33, components/_nav.scss */
.navbar-inverse {
  background-image: none; }

/* line 38, components/_nav.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-image: none; }

/* line 43, components/_nav.scss */
.navbar-inverse {
  border-color: #183B65; }
  /* line 45, components/_nav.scss */
  .navbar-inverse .navbar-brand {
    color: #999999; }
    /* line 47, components/_nav.scss */
    .navbar-inverse .navbar-brand:hover {
      color: #FFFFFF; }
  /* line 52, components/_nav.scss */
  .navbar-inverse .navbar-nav > li > a {
    color: #ffffff; }
    /* line 54, components/_nav.scss */
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
      color: #FFFFFF;
      background: #ff6600; }
  /* line 59, components/_nav.scss */
  .navbar-inverse .navbar-nav > .active > a {
    color: #FFFFFF; }
  /* line 62, components/_nav.scss */
  .navbar-inverse .navbar-nav > .open > a {
    color: #FFFFFF; }
    /* line 64, components/_nav.scss */
    .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
      color: #FFFFFF; }
  /* line 69, components/_nav.scss */
  .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #183b65; }

/* line 76, components/_nav.scss */
.dropdown-menu > li > a {
  color: #333333; }
  /* line 78, components/_nav.scss */
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #FFFFFF; }

/* line 84, components/_nav.scss */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff; }
/* line 87, components/_nav.scss */
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #FFFFFF; }
/* line 90, components/_nav.scss */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #ffffff; }
/* line 93, components/_nav.scss */
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-bottom-color: #FFFFFF; }

/*# sourceMappingURL=style.css.map */
