/*=============================================================*/
/*Footer Section Start From Here  */
/*=============================================================*/
footer {
    background: lighten($color-black, 90%);
    font-size: 13px;
    color: #484848;
    padding: 10px 0;
}
.footer-bottom-text { font-size: 13px; color: darken($color-white, 50%); padding: 10px 0; }
/*=============================================================*/
/*Footer Section Ends Here  */
/*=============================================================*/