/*=============================================================*/
/*Header Section Start From Here  */
/*=============================================================*/
header { border-bottom: 1px solid #ddd; padding: 5px;
	.login-title {
		padding: 15px 0;
		display: block;
		font-size: 18px;
		color: #183b65;
		font-weight: 600;
		i {
			color: #ff6600;
			font-size: 36px;
		}
	}
	.company-logo { 
		img { width: 85%; margin-top: 5px; }
	}
}
/*=============================================================*/
/*Header Section Ends Here*/
/*=============================================================*/