//Colors
$color-white 				: 		#ffffff; //White color
$color-black 				: 		#000000; //Black Color

//Application theme color
$color-blue 				: 		#183b65; //Blue color
$color-orange 				: 		#ff6600; // Orange color

//No padding
